In [1]:
import datetime

import pandas as pd

In [2]:
df = pd.read_csv("../data/2_france_voyages.csv")

In [3]:
df.head()

,vessel,voyage,voyage_id,BaseDateTime,LON,LAT,SOG,COG,distanceToPort,remainingVoyageTime,x,y
0,2,0,2-0,2016-01-01 20:53:16,-5.661688,48.435425,7.0,113.0,70.870211,1055.216667,-630256.258586,6.179602e+06
1,2,0,2-0,2016-01-01 20:53:28,-5.661258,48.435173,6.9,122.5,70.842872,1055.016667,-630208.357809,6.179560e+06
2,2,0,2-0,2016-01-01 21:33:29,-5.524507,48.398712,9.6,105.0,62.480487,1015.000000,-614985.261596,6.173444e+06
3,2,0,2-0,2016-01-01 21:33:36,-5.524189,48.398514,8.9,127.1,62.460960,1014.883333,-614949.850866,6.173411e+06
4,2,0,2-0,2016-01-01 21:33:58,-5.522910,48.398014,9.1,128.7,62.383112,1014.516667,-614807.528897,6.173327e+06

In [4]:
df["BaseDateTime"] = pd.to_datetime(df["BaseDateTime"])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186472 entries, 0 to 186471
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   vessel               186472 non-null  int64
 1   voyage               186472 non-null  int64
 2   voyage_id            186472 non-null  object
 3   BaseDateTime         186472 non-null  datetime64[ns]
 4   LON                  186472 non-null  float64
 5   LAT                  186472 non-null  float64
 6   SOG                  186472 non-null  float64
 7   COG                  186472 non-null  float64
 8   distanceToPort       186472 non-null  float64
 9   remainingVoyageTime  186472 non-null  float64
 10  x                    186472 non-null  float64
 11  y                    186472 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(1)
memory usage: 17.1+ MB

In [6]:
print(f"Start: {df['BaseDateTime'].min()}")
print(f"End: {df['BaseDateTime'].max()}")

Start: 2015-10-01 04:53:28
End: 2016-03-31 17:33:42

In [7]:
# Train -> 30/09/2015 - 1/2016;
# Test -> 02/2016 - 03/2016
train = df.loc[(df["BaseDateTime"] >= datetime.datetime(2015, 9, 30))
               & (df["BaseDateTime"] <= datetime.datetime(2016, 1, 31))]
val = df.loc[(df["BaseDateTime"] >= datetime.datetime(2016, 1, 1))
              & (df["BaseDateTime"] <= datetime.datetime(2016, 2, 29))]
test = df.loc[(df["BaseDateTime"] >= datetime.datetime(2016, 3, 1))
              & (df["BaseDateTime"] <= datetime.datetime(2016, 3, 31))]

In [8]:
# Check if any voyage has samples outside the defined timespans
test_voyages = test["voyage_id"].unique()

display(df.loc[(df["voyage_id"].isin(test_voyages))
               & (df["BaseDateTime"] < datetime.datetime(2016, 3, 1))])

Empty DataFrame
Columns: [vessel, voyage, voyage_id, BaseDateTime, LON, LAT, SOG, COG, distanceToPort, remainingVoyageTime, x, y]
Index: []

- As viagens estão todas completas e só num conjunto.

In [9]:
train.to_csv("../data/3_france_train_to_fill.csv", index=False)
val.to_csv("../data/3_france_val_to_fill.csv", index=False)
test.to_csv("../data/3_france_test_to_fill.csv", index=False)